@charset "UTF-8";

/* 共通部分
---------------------------------------- */
html {
    font-size: 100;
}
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* HEADER
---------------------------------------- */
.logo {
    width: 210px;
    margin-top: 28px;
}
.top-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.top-nav li {
    margin-left: 36px;
}
.top-nav a {
    color: #432;
}
.top-nav a:hover {
    color: #0bd;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* CONTENT HEADER
---------------------------------------- */
#content-header {
    background-image: url(../images/main-bg.jpg);
    height: 250px;
    margin-bottom: 40px;
}

/* HOME
---------------------------------------- */
.home-content {
    text-align: center;
    margin-top: 10%;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}
.page-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: normal;
}
#content-header .home-content {
    margin-top: 8px;
}

/* BACKGROUND IMAGE
---------------------------------------- */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: none;
}
#home {
    background-image: url(../images/main-bg.jpg);
    background-color: #0bd;
    background-blend-mode: screen;
    height: 500px;
}
#home .page-title {
    text-transform: none;
}

/* CONTENTS
---------------------------------------- */
.content-title {
    text-align: center;
    margin-top: 3%;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
}
.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-top: 3%;
    margin-bottom: 50px;
}
.button {
    font-size: 1.375rem;
    text-align: center;
    color: #432;
    background: aquamarine;
    border-radius: 5px;
    padding: 64px;
}
.button:hover {
    background: cyan;
}

/* ABOUT LAB
---------------------------------------- */
.lab-content {
    margin-top: 3%;
    display: flex;
}
.home-content-image {
    max-width: 40vw;
}

/* MOBILE
---------------------------------------- */
@media (max-width: 700px) {
    .home-content p {
        font-size: 1rem;
    }
    .page-title {
        font-size: 2.5rem;
    }
    .top-nav {
        font-size: 1rem;
        margin-top: 10px;
    }
    .top-nav li {
        margin: 0 20px;
    }
    .home-content {
        margin-top: 20%;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    .content-title {
        font-size: 2rem;
    }
    .lab-content {
        flex-direction: column;
        align-items: center;
    }
    .home-content-image {
        max-width: 90vw;
    }
}